*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#inputs-bar{
    width: 300px;
    height: 100vh;
    background-color: #1a1a1a;
    position: fixed;
    padding: 2em 2em 2em 1.5em;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    overflow: scroll;
    overflow-x: hidden;
}

h3{
    font-size: 22px;
    color: white;
    margin-bottom: 15px;
}

h5{
    font-size: 14px;
    color: white;
}

.instructions{
    font-size: 10px;
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.6em;
    display: block;
}

.inputs{
    width: 100%;
}

.inputs input{
    outline: 0;
    border: 0;
    font-size: 14px;
    padding: 10px 10px;
    width: 100%;
    color: black;
    font-weight: 500;
    margin-top: 8px;
}

.inputs input::placeholder{
    color: rgba(0, 0, 0, 0.4);
}


.inputs label{
    color: white;
    font-size: 12px;
}

#single_div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 24px;
}

#label-nome{
    margin-top: 2px;
}


#label-site{
    color: white;
    font-size: 12px;
    margin-top: 24px;
}

.inputs .label{
    color: white;
    font-size: 12px;
    margin-top: 24px;
    display: block;
}

.inputs select{
    outline: 0;
    padding: 10px 10px;
    font-size: 14px;
    border-radius: 0;
    border: 0;
    color: #4b4b4b;
    font-weight: 500;
    margin-top: 10px;
    width: 100%;
}

#single-qr{
    width: 15px;
    height: 15px;
    margin: 0;
    margin-right: 10px;
    color: white;
}

.header{
    padding: 1em;
    font-size: 24px;
    color: rgb(44, 44, 44);
    font-weight: 600;
    border-bottom: 1px solid rgb(240, 240, 240);
}

.content{
    width: 100vw;
    margin-left: 300px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

body{
    display: flex;
    flex-direction: row;
    width: 100vw;
    overflow: hidden;
}

.emmetPai{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
}

#preview{
    background-color: rgb(240, 240, 240);
    transform-origin: left top;
    width: 1080px;
    height: 1920px;
    background-image: url("preview.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline;
    flex-direction: row;
    float: left;
}

.preview-text{
    color: #5e5757;
    font-weight: 500;
    font-size: 53px;
    max-width: 800px;
    margin-top: 68px;
    margin-left: 196px;
    line-height: 1.4em;
    height: auto;
}

#p-nome{
    font-size: 72px;
    line-height: 88px;
    color: white;
    height: 312px;
    margin-top: 400px;
    padding: 74px;
    padding-right: 0;
    margin-left: 0;
    width: 816px;
}

#p-telefone{
    margin-top: 234px;
}

#p-email{
    font-size: 52px;
}

#p-site{
    font-size: 52px;
}


#p-email{
    margin-top: 56px;
}

#p-endereco{
    font-size: 51px;
    line-height: 62px;
}

#gerar{
    margin-top: 16px;
    padding: 2px 8px;
}

#qr-code-preview{
    width: 172px;
    height: 172px;
    position: absolute;
    bottom: 52px;
    right: 74px;
    gap: 0;
}

.hidden{
    display: none;
    opacity: 0;
    z-index: -2;
}